1/
programs/
Project5/
Project4/energy_T2.4_disordered.dat
Project4/energy_T2.4_ordered.dat
Project4/magnetisation_T2.4_disordered.dat
Project4/magnetisation_T2.4_ordered.dat
*.pdf
*.eps
*.dvi
*.log
*.aux
*.toc
*.gz
*.zip
*.exe
*.mod
*.o